*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    flex-direction: column;
}

.wrapper-div{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    min-height: 60px;
  
}

.logo-div{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    width: 100%;
    min-height: 50px;
    align-items: center;
    padding-left: 2%;

}

.nav-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 100%;
    min-height: 30px;
    margin-top: 10px ;
}

.header-banner-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    margin-top: 10px;
}

.main-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    justify-content: space-between;
}

.sidebar{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    background-color: lightgray;
    justify-content: center;align-items: center;
}

.bodyarea{
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    
}


.footerdiv{
    width: 100%;
    min-height: 50px;
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}